## The Coursera Applied data Science Capstone Notebook
this notebook will be used for the battle of neighbourhoods capstone project

we are importing all the requird libraries and installing the lxml to read the html file in panda dataframe

In [1]:
import pandas as pd
import numpy as np
!pip install lxml

Requirement already satisfied: lxml in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (4.4.1)

Hello Capstone project course

Here, we use pandas to read the html file, then save it in the data frame <b> df_neighbor </b>

In [2]:
df2=pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')
df_neighbor=df2[0]
df_neighbor

    Postcode           Borough          Neighbourhood
0        M1A      Not assigned           Not assigned
1        M2A      Not assigned           Not assigned
2        M3A        North York              Parkwoods
3        M4A        North York       Victoria Village
4        M5A  Downtown Toronto           Harbourfront
..       ...               ...                    ...
283      M8Z         Etobicoke              Mimico NW
284      M8Z         Etobicoke     The Queensway West
285      M8Z         Etobicoke  Royal York South West
286      M8Z         Etobicoke         South of Bloor
287      M9Z      Not assigned           Not assigned

[288 rows x 3 columns]

Here we select only those rows where Borough is not equal to "Not assigned"

In [3]:
df_neighbor=df_neighbor[df_neighbor.Borough!= 'Not assigned']
df_neighbor

    Postcode           Borough             Neighbourhood
2        M3A        North York                 Parkwoods
3        M4A        North York          Victoria Village
4        M5A  Downtown Toronto              Harbourfront
5        M5A  Downtown Toronto               Regent Park
6        M6A        North York          Lawrence Heights
..       ...               ...                       ...
282      M8Z         Etobicoke  Kingsway Park South West
283      M8Z         Etobicoke                 Mimico NW
284      M8Z         Etobicoke        The Queensway West
285      M8Z         Etobicoke     Royal York South West
286      M8Z         Etobicoke            South of Bloor

[211 rows x 3 columns]

In [4]:
df_neighbor.reset_index(inplace=True)

In [5]:
df_neighbor=df_neighbor[['Postcode','Borough','Neighbourhood']]
df_neighbor

    Postcode           Borough             Neighbourhood
0        M3A        North York                 Parkwoods
1        M4A        North York          Victoria Village
2        M5A  Downtown Toronto              Harbourfront
3        M5A  Downtown Toronto               Regent Park
4        M6A        North York          Lawrence Heights
..       ...               ...                       ...
206      M8Z         Etobicoke  Kingsway Park South West
207      M8Z         Etobicoke                 Mimico NW
208      M8Z         Etobicoke        The Queensway West
209      M8Z         Etobicoke     Royal York South West
210      M8Z         Etobicoke            South of Bloor

[211 rows x 3 columns]

Now we group our dataframe using group by method and agg (aggregation) to join the neighbourhoods of the same Borough

In [6]:
df_neighbor_sort=df_neighbor.groupby(['Postcode','Borough']).agg(Neighbourhood=('Neighbourhood', ','.join))

In [7]:
df_neighbor_sort.reset_index(inplace=True)

we see our dataframe after resetting the indexes

In [8]:
df_neighbor_sort

    Postcode      Borough                                      Neighbourhood
0        M1B  Scarborough                                      Rouge,Malvern
1        M1C  Scarborough               Highland Creek,Rouge Hill,Port Union
2        M1E  Scarborough                    Guildwood,Morningside,West Hill
3        M1G  Scarborough                                             Woburn
4        M1H  Scarborough                                          Cedarbrae
..       ...          ...                                                ...
98       M9N         York                                             Weston
99       M9P    Etobicoke                                          Westmount
100      M9R    Etobicoke  Kingsview Village,Martin Grove Gardens,Richvie...
101      M9V    Etobicoke  Albion Gardens,Beaumond Heights,Humbergate,Jam...
102      M9W    Etobicoke                                          Northwest

[103 rows x 3 columns]

In our dataframe we have one value of neighbourhood as 'Not assigned' at index 85, we'll replace it with the corrosponding
Borough name "Queen's Park"

In [17]:
df_neighbor_sort['Neighbourhood'].replace(to_replace="Not assigned",value="Queen's Park",inplace=True)

In [19]:
df_neighbor_sort.shape

(103, 3)